<div [class.container]="true" [ngClass]="ngClassContainer">
  <div [ngClass]="{'table-darkMode':isDarkModeActive, 'background-dark-mode': isDarkModeActive }" [class]="classTable" >
    <app-table-header-icons
    [obj]="this"
    ></app-table-header-icons>

    <app-ellipsis-icon  (click)="toggleShareAndDownload()"></app-ellipsis-icon>

<app-share-and-download
  [isActiveShareAndDownload]="isActiveShareAndDownload"
  [isDarkModeActive]="isDarkModeActive">
</app-share-and-download>

    <div class="graph-header">
      <app-clarification
        *ngIf="isGraphCustom"
        [className]="'pic-graph'"
        [ngClassObJ]="{ 'pic-graph-dark': isDarkModeActive }"
      ></app-clarification>

      <app-variable-graph-label
        [legendList]="legendList"
        [graphName]="graphName"
      ></app-variable-graph-label>

      <div class="date">{{ textDownGraph }}</div>
      <div [class]="ClassTextAboveGraph"> {{ textAboveGraph }}</div>

    </div>

    <div class="align-graph">
      <div
        *ngIf="isTable"
        [class]="
        isTableCustom
            ? 'select-box-container-table1'
            : 'select-box-container'
        "
        (click)="toggleDropdown()">

      <app-select-box
      [selectBoxId]="selectBoxId"
      [dropdownVisible]="dropdownVisible"
      [graphName]="graphName"
    ></app-select-box>

        <app-my-search-options
         [obj]="this"
          [dropdownVisible]="dropdownVisible"
        ></app-my-search-options>
      </div>

      <div *ngIf="!isTable" id="{{ graphName }}" [style]="graphSize"></div>

    </div>

    <div *ngIf="isTable" class="container-color">
      <app-clarification
        *ngIf="isTableCustom"
        [className]="'pic-graph-light'"
      ></app-clarification>
      <app-color-squares
        class="little-container-text-and-color"
        *ngIf="isTableCustom"
      ></app-color-squares>
    </div>
    <app-table-header
    [obj]="this"
    ></app-table-header>
    <app-table-body
    [obj]="this"
    ></app-table-body>
  </div>
</div>
