<ul
  class="options-list"
  [ngClass]="{ 'deep-blue-option': isDarkModeActive }"
  [hidden]="!dropdownVisible"
>
  <li *ngFor="let option of options">
    <div>{{ option?.label }}</div>
    <ul>
      <li *ngFor="let innerOption of option">
<app-option [selectedOptions]="selectedOptions" [innerOption]="innerOption"></app-option>

      </li>
    </ul>
  </li>
  <div id="{{ 'btnId' + graphName }}" class="btns-container">
    <button
      class="btnSelect"
      (click)="updateGraphRelatedSubjects()"
      [ngClass]="ngClassForBtns"
    >
      ביטול
    </button>
    <button
      class="btnSelect"
      (click)="updateSelectedTimePeriodHandler()"
      [ngClass]="ngClassForBtns"
    >
      אישור
    </button>
  </div>
</ul>
