



.rotate{

  transform: translate(0.5em, 0) rotateZ(180deg);
  transition: transform 0.5s ease-in-out;

}
.center-half-rectangle{
  background: url('../../../assets/images/half-rec-little.png');
  height: 15px;
  width: 15px;
  background-size: cover;
  position: relative;

}
#selectBoxId2{
display: flex;
flex-direction: row;
 position: absolute;
top: -50px;
}
#selectBoxId1{
  display: flex;
}
.selected-option-darkMode{
  background:   #4e6275;
  color: #fff;
  border: 1px solid gray;
}
